/* {{{ Layout */

body {
	background: #fff url(../img/background-repeat.jpg) top center repeat-x;
}

#wrapper {
	background: url(../img/background.jpg) top center no-repeat;
}

#doc {
	width: 990px;
	overflow: auto;
}

/* }}}
/* {{{ Header */

#header {
	float: right;
	width: 300px;
}

#header li {
	float: left;
	border-left: 1px solid #209b1e;
	padding: 0 10px;
	margin-top: 15px;
}

#header li.first {
	padding-left: 0;
	border-left: 0;
}

#header a,
#header a:link,
#header a:visited,
#header a:hover,
#header a:active {
	color: #fff;
	text-decoration: underline;
}

/* }}} */
/* {{{ Main Feature */

#main-feature {
	color: #fff;
}

#main-feature h1 {
	float: left;
}

#main-feature h2 {
	float: left;
	font-size: 24px;
	color: #fff;
	width: 330px;
	margin-top: 90px;
	margin-right: 35px;
	line-height: 1.5;
}

/* }}} */
/* {{{ Download */

#download {
	float: left;
	width: 280px;
	margin-top: 45px;
	background: url(../img/background-download.png) top right no-repeat;
}

#download h3 {
	font-size: 24px;
	line-height: 1.5;
	padding: 15px 0 0 5px;
}

#download p {
	padding: 0 90px 5px 5px;
}


/* }}} */
/* {{{ Main Content */

#main-content {
	clear: both;
	float: left;
	width: 585px;
	padding: 20px;
	margin:  0 35px 25px 25px;
	background: #fff;
	color: #333;
	border: 1px solid #eee;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.1), 0 -20px 45px rgba(0,0,0,0.08) inset;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.1), 0 -20px 45px rgba(0,0,0,0.08) inset;
}

#main-content h2 {
	float: left;
	width: 235px;
	font-size: 22px;
}

#personas {
	margin-left: 250px;
}

#personas-header h3 {
	color: #666;
	font-size: 14px;
	float: left;
	width: 225px;
}

#personas-nav {
	float: right;
}

#personas-nav li {
	float: left;
}

/* }}} */
/* {{{ Sidebar */

#sidebar {
	float: left;
	width: 275px;
}

#sidebar .sub-feature {
	padding: 17px 20px 20px 20px;
	margin: 0 0 20px 0;
	background: #fff;
	background-repeat: no-repeat;
	background-position: 10px 20px;
	color: #333;
	border: 1px solid #eee;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.1), 0 -20px 45px rgba(0,0,0,0.08) inset;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.1), 0 -20px 45px rgba(0,0,0,0.08) inset;
}

#sidebar .sub-feature h3 {
	font-size: 22px;
}

.footiefox #sidebar #featured { background-image: url(../img/footiefox.png); }

.footiefox #sidebar .sub-feature #featured-footiefox {
	display: block;
	padding-left: 55px;
}

#sidebar #email {
	background-image: url(../img/email.png);
	padding-left: 75px;
}

#sidebar #facebook {
	background-image: url(../img/facebook.png);
	padding-left: 75px;
}

/* }}} */
